// Every CSS measurement unit is rem-based. 1rem = 16px by default. 
// You can calculate rem's by multiplying the normal, px value by 1/16 or 0.0625. 
// For example, 8px is 0.5rem.
// The advantage of using rem's is that someone can change their font-size on their browser, and the entire website will respond to that change.

//colors
$gray: #757575;
$gray-darker: mix($gray, black, 90%);
$black: #000;
$white: #fff;

$primary: #166dff;

//tints
$primary-lighten-1: #007fff;
$primary-lighten-2: #00a0ff;
$primary-lighten-3: #88c8ff;
$primary-lighten-4: #b9ddff;

//shades
$primary-darken-1: #0056e6;
$primary-darken-2: #0043b3;
$primary-darken-3: #003080;
$primary-darken-4: #001d4d;

$secondary: #d63665;

// feedback colors
$serene-green: #22d0a5;
$serene-green-contrast: #494949;
$info: #4ca5ff;
$mcyellow: #f7ba45;
$passion-red: #e22942;
$dark: #333;

// grays
$gray-1: #D8D8D8;
$gray-2: #C4C4C4;
$gray-3: #979797;
$gray-4: #6E6E6E;
$gray-5: #626262;
$gray-6: #515151;
$gray-7: #464646;
$gray-8: #333333;

$background: mix(mix($primary, $white, 5%), #eee, 50%);

// border radii
$border-radius-small: .6rem;
$border-radius-base: 1rem;
$border-radius-large: 1.6rem;


// breakpoints
$bp-xl: 65.625rem; // 1050px
$bp-lg: 56.25rem;  // 900px
$bp-md: 48rem;     // 768px
$bp-sm: 37.55rem;  // 600px
$bp-xs: 25rem;     // 400px