.colors__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 0;
    max-width: 50rem;
}

.color__example {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: 7.5rem;
    @include until(md) {
        width: 9rem;
        height: 6rem;
    }
    transition: transform 250ms;
    margin-bottom: 0.5rem;
    button {
        opacity: 0;
        transition: .3s ease opacity;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        button {
            opacity: 1;
        }
    }

}

.color {
    margin-bottom: 3rem;
    p {
        line-height: 1.4;
        color: black;
        margin: 0;
        font-weight: 600;
        &:last-of-type {
            font-weight: 400;
            color: mix($gray, $dark, 90%);
        }
    }
}

.primary {
    background: $primary;
}
.complementary {
    background: $complementary;
}
.secondary {
    background: $secondary;
}
.success {
    background: $success;
}
.info {
    background: $info;
}
.warning {
    background: $warning;
}
.danger {
    background: $danger;
}
.dark {
    background: $dark;
}
.light {
    background: $white;
    border: 0.0625rem solid #dfe3e6;
}
.background {
    background: $background;
    border: 0.0625rem solid #dfe3e6;
}


.colors table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    thead th {
        font-size: 0.875rem;
        font-weight: 600;
        text-align: left;
        line-height: 1.25;
        padding: 1rem 2rem 1rem 0;
        border-bottom: 0.2rem solid $primary;
        white-space: nowrap;
        @include until(xs) {
            padding: 1rem 1rem 1rem 0;
        }
    }
    tbody tr {
        border-bottom: 0.0625rem solid #ccc;
        td {
            font-size: 0.875rem;
            padding: 1rem 2rem 1rem 0;
            line-height: 1.25;
            position: relative;
            vertical-align: baseline;
            @include until(xs) {
                padding: 1rem 1rem 1rem 0;
            }
        }
    }
}
.table-swatch {
    top: 1.5rem;
    transform: translateY(-50%);
    left: 5rem;
    display: block;
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
}
