$gray: #757575;
$black: #000;
$white: #fff;

$primary: #005cb9;
$secondary: #d63665;
$success: #008728;
$info: #4ca5ff;
$warning: #f7ba45;
$danger: #b80000;
$dark: #333;

$border-radius-small: 3px;
$border-radius-base: 6px;
$border-radius-large: 9px;


$background: mix(mix($primary, $white, 5%), #eee, 50%);