$gray: #757575;
$black: #000;
$white: #fff;

$primary: #005cb9;
$success: #008728;
$info: #4ca5ff;
$warning: #f7ba45;
$danger: #b80000;
$dark: #333;


$background: mix(mix($primary, $white, 5%), #eee, 50%);