@import "normalize";
@import "variables";

@import "mixins/buttons";

@import "buttons";
@import "card";
@import "checkboxes";
@import "colors";
@import "grid";
@import "radio";


$breakpoint: 991.98px;

* {
    box-sizing: border-box;
}

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 15px;
    @media all and (min-width: 500px) {
        font-size: calc( 14px + 8 * ((100vw - 500px) / 1500));
    }
}

body {
    background: $background;
}

.grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 13rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar header" "sidebar content";
    @media all and (max-width: $breakpoint) {
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr;
        grid-template-areas: "header" "content";
    }
    justify-items: center;
}

.menu {
    @media all and (max-width: $breakpoint) {
        transition: .3s ease transform;
        background: white;
        transform: translateX(-100%);
        &.open {
            transform: translateX(0);
        }
    }
    height: 100vh;
    margin: 0;
    box-shadow: 0 0 3rem rgba($black, 0.1);
}

.header {
    grid-area: header;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: .3s ease transform;
    @media all and (max-width: $breakpoint) {
        position: fixed;
        // width: 100vw;
        width: 100%;
        height: 4rem;
        background: white;
        box-shadow: 0 0 3rem rgba($black, 0.1);
    }
    &.nav-up {
        transform: translateY(-4rem);
    }
    &.open {
        transform: translateY(0);
    }
}

img {
    width: 100%;
}

$logo-text-color: #414042;
.title {
    //match logo color
    color: $logo-text-color;

    user-select: none;
    margin-left: 4rem;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 2.3rem;
    text-transform: lowercase;
    @media all and (min-width: 350px) and (max-width: 415px) {
        width: 16rem;
    }
    @media all and (max-width: 767.99px) {
        font-size: 1.4em;
    }
    @media all and (min-width: $breakpoint) {
        display: none;
    }
    img {
        margin-right: 1rem;
    }
    &__content {
        &:before {
            display: none !important;
        }
        @media all and (max-width: $breakpoint) {
            display: none;
        }
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        flex-direction: column;
        font-size: 3.5rem;
        text-transform: lowercase;
        color: $logo-text-color;
        img {
            width: 30rem;
        }
    }
}

.title-text {
    // this color is only used to match the logo - actual primary brand color is #005cb9
    color: #0261a5;
}

.primary-text {
    color: $primary !important;
}
.dark-text {
    color: $dark !important;
}
.danger-text {
    color: $danger !important;
}
.success-text {
    color: mix($success, $dark, 90%) !important;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.sidebar { 
    grid-area: sidebar;
    position: fixed;
    left: 0;
    height:100vh;
    width: 13rem;
    @media all and (max-width: $breakpoint) {
        z-index: -1;
        &.open {
            z-index: 1;
        }
        top: 4rem;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    li a {
        color: black;
        display: block;
        padding: 1.5rem 1.75rem;
        text-decoration: none;
        transition: .3s ease transform;
        border-radius: 0.5rem;
        font-weight: 500;
        &:hover, &:focus {
            color: $primary;
            transform: translateX(3px);
        }
        &:focus {
            box-shadow: 0 0 0 3px rgba($primary, 0.4);
            outline: none;
            &:hover {
                box-shadow: none;
            }
        }
    }
    li.active a {
        color: $primary;
        transform: translateX(3px);
    }
    .submenu {
        a {
            color: $gray;
            padding: 0.5rem 0.5rem 0.5rem 3rem;
        }
    }
}

.content { 
    grid-area: content;
    // max-width: 768px;
    max-width: 42rem;
    margin: 2rem;
    @media all and (max-width: $breakpoint) {
        margin: 1rem;
        // margin-top: 3rem;
    }
    article {
        margin-top: 10rem;
        @media all and (max-width: $breakpoint) {
            margin-top: 5rem;
        }
        &:first-of-type {
            margin-top: 5rem;
        }
    }
}

.image {
    width: 8rem;
    margin: 1rem;
    &.right {
        float: right;
    }
    &.large {
        width: 12rem;
    }
}

// .content-center {
//     max-width: 768px;
//     @media all and (max-width: 767.99px) {
//         max-width: 100vw;
//     }
// }

.content {
    p, ul, ol {
    color: $gray;
    line-height: 2;
    letter-spacing: -0.015em;
    a {
        font-weight: 600;
        color: $primary;
        text-decoration: none;
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
    p {
        font-size: inherit;
    }
    }
    ul {
        list-style: circle inside;
    }
    h1 {
        position: relative;
        &:before {
            content: '';
            width: 5rem;
            height: 0.3rem;
            display: block;
            background-color: $primary;
            position: absolute;
            top: -0.5rem;
            left: 0;
        }
    }
    h2 {
        margin-top: 5rem;
    }
    h1 ~ h2 {
        margin-top: 2rem;
    }
}

.indent {
    padding-left: 3rem;
    list-style: none;
}

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: $border-radius-base;
}

pre {
    & > code {
        display: block;
        padding: 1rem 1.5rem;
        white-space: pre-wrap;
    }
}

.no-break {
    white-space: nowrap;
}

$toggle-size: 32px;
$bar-size: $toggle-size / 8;
$bar-space: ($toggle-size - ($bar-size * 5)) / 2;
$bar2-top: $bar-size + $bar-space;
$bar3-top: $bar2-top * 2;

.menu-toggle {
    display: block;
    width: $toggle-size;
    height: $toggle-size;
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    @media all and (min-width: $breakpoint) {
        display: none;
    }
}
.menu-toggle span {
    background-color: black;
    width: 100%;
    height: $bar-size;
    border-radius: $bar-size / 4;
    display: block;
    position: absolute;
    left: 0;
    content: '';
    transition: .5s ease-in-out;
}

.menu-toggle {
    span {
        &:nth-child(1) {
            top: $bar-size;
            transform-origin: left center;
        }
        &:nth-child(2) {
            top: $bar2-top + $bar-size;
            transform-origin: left center;
        }
        &:nth-child(3) {
            top: $bar3-top + $bar-size;
            transform-origin: left center;
        }
    }
    &.open span {
        &:nth-child(1) {
            transform: rotate(45deg);
            top: -($toggle-size / 32) + $bar-size;
            left: $bar-size;
        }
        &:nth-child(2) {
            width: 0%;
            opacity: 0;
        }
        &:nth-child(3) {
            transform: rotate(-45deg);
            top: $bar3-top + ($toggle-size / 32) + $bar-size;
            left: $bar-size;
        }
    }
}

.control-row .row {
    margin-bottom: 1rem;
    min-height: 1.5rem;
    .checkbox {
        margin: 0;
    }
}